@font-face {
  font-family: 'JosefinB';
  src: url("../fonts/JosefinSans-Bold.ttf");
  font-weight: normal;
}
@font-face {
  font-family: 'JosefinBI';
  src: url("../fonts/JosefinSans-BoldItalic.ttf");
  font-weight: normal;
}
@font-face {
  font-family: 'JosefinI';
  src: url("../fonts/JosefinSans-Italic.ttf");
  font-weight: normal;
}
@font-face {
  font-family: 'JosefinL';
  src: url("../fonts/JosefinSans-Light.ttf");
  font-weight: normal;
}
@font-face {
  font-family: 'JosefinLI';
  src: url("../fonts/JosefinSans-LightItalic.ttf");
  font-weight: normal;
}
@font-face {
  font-family: 'JosefinR';
  src: url("../fonts/JosefinSans-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: 'JosefinSB';
  src: url("../fonts/JosefinSans-SemiBold.ttf");
  font-weight: normal;
}
@font-face {
  font-family: 'JosefinSBI';
  src: url("../fonts/JosefinSans-SemiBoldItalic.ttf");
  font-weight: normal;
}
@font-face {
  font-family: 'JosefinT';
  src: url("../fonts/JosefinSans-Thin.ttf");
  font-weight: normal;
}
@font-face {
  font-family: 'JosefinTI';
  src: url("../fonts/JosefinSans-ThinItalic.ttf");
  font-weight: normal;
}

body{
    font-family: 'JosefinL';
    color: #5c5c5c;
}
.bold{
    font-family: 'JosefinB';
}
.theme-color{
    color: #c9b8a7;
}
section{
    margin-bottom: 2%;
}
.btn-theme{
    background-color: #c28f38;
    border-radius: 0px;
    color: #fff;
    border: 1px solid transparent;
}
.btn-theme:hover{
    color: #c28f38;
    background-color: transparent;
    transition: all 0.3s ease;
    border-color: #c28f38
}
.btn-theme-reverse{
    border: 2px solid #c9b8a7;
    background: transparent;
    color: #c9b8a7;
    border-radius: 0px;
}
.btn-theme-reverse:hover{
    background: #c9b8a7;
    color: #fff;
    transition: all 0.3s ease;
}

/* navbar style */
.navbar{
    padding-left: 5%;
    padding-right: 5%;
    transition: all 0.3s ease;
    padding-top: 3%;
}
.navbar-brand img{
    width: 100%;
}
.navbar-nav{
  padding-bottom: 0.5em;
  border-bottom: 2px solid #5c5c5c;
  padding-left: 4%;
}
.nav-item{
    font-family: 'JosefinB';
    margin-right: 50px;
    font-size: 1.2em;
}
.carousel-item{
    position: relative;
}
.carousel-caption{
    font-family: JosefinT;
    position: absolute;
    bottom: 42%;
    left: 53%;
    font-size: 17pt;
    width: 342px;
    color: #555555;
}
.search{
    display: -webkit-inline-box;
}
.search img{
    cursor: pointer;
}
#search-input{
    width: 0px;
    display: none;
    border: 0px;
    border-bottom: 1px solid #8c8b8c;
    background-color: transparent;
    margin-right: 8px;
    transition: all 0.5s ease;
}
/* navbar style */

/* feature section */
#feature-section{
  padding-top: 60px;
}
#feature-section .col-md-6:first-child{
    padding-right: 0px;
    padding-left: 54px;
}
#feature-section .col-md-6:last-child{
    padding-left: 0px;
}
.title-section{
  margin-bottom: 30px;
}
.feature-image--right{
  margin-left: -4px;
}
/* feature section */
/* about us section */
#about-us{
    margin-top: 5%;
    background-image: url('../images/bg-2.png');
    padding-top: 5%;
    padding-bottom: 5%;
}
#about-us .col-md-8 img{
    width: 95%;
}
.detail-about-us h4{
    margin-top: 8%;
    margin-bottom: 15%;
}
.detail-about-us p{
    font-size: 12pt;
    line-height: 1.2;
}
.detail-about-us a{
    margin-top: 3%;
    margin-bottom: 5%;
    color: #5c5c5c;
}
.detail-about-us div{
    color: #c28f38;
}
.service-list{
    margin-top: 7%;
}
.service:nth-child(2){
    margin-left: 5%;
    margin-right: 5%;
}
.service label{
    margin-top: 15%;
}
.service p{
    line-height: 1.2;
}
/* about us section */

/* artist section */
#feature-artist .title-section{
    margin-top: 4%;
    margin-bottom: 5%;
}
.photo{
    display: inline;
    margin-right: 7px;
    margin-bottom: 7px;
    max-width: 100%;
}

@media screen and (max-width: 1024px ) {
  .photo {
    display: block;
    align-items: center;
    clear: both;
  }
}

.label-artist{
    display: none;
}
#feature-artist .row:nth-child(2){
    margin-bottom: 1%;
}
/* artist section */
/* project section */
#our-project{
    background-color: #ececec;
    padding-top: 5%;
    padding-bottom: 5%;
}
#our-project .col-md-4{
    padding-top: 4%;
    padding-right: 3%;
}
#our-project .col-md-4 p{
    font-size: 11pt;
}
#our-project .col-md-4 h4{
    margin-bottom: 30px;
}
.our-project {
  text-align: right;
}
@media screen and (max-width: 1024px) {
  .our-project {
    text-align: left;
  }
}
/* project section */
/* blog */
#our-blog {
  margin-top: 5em;
}

/* blog */
/* find us */
#find-us{
    background-image: url('../images/bg-find.png');
    margin-top: 5%;
    margin-bottom: 4%;
    padding-top: 4%;
    padding-bottom: 4%;
}
#find-us .title-section{
    margin-bottom: 3%;
}
.subscribe input{
    border: 0px;
    border-bottom : 2px solid #c9b8a7;
    font-style: italic;
    margin-right: 4%;
    width: 40%;
}
.subscribe input:focus{
    outline: none;
}

/* find us */
/* footer */
#footer-lp{
    background-color: #e4dbd3;
    padding-top: 4%;
    padding-bottom: 3%;
    margin-bottom: 0%;
}
.footer-menu a{
    color: #5c5c5c;
    display: block;
}
.footer-menu a:hover{
    text-decoration: none;
}
.socmed-footer .btn-group .btn{
    background: transparent;
    border: 0px;
}
/* footer */

/*card hover*/
.image {
  opacity: 1;
  /*display: block;*/
  /*width: 100%;*/
  /*height: auto;*/
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.image:hover {
  opacity: 0.3;
}

.middle:hover {
  opacity: 1;
}

.text {
  background-color: #4d4d4d;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
